<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% var number = %>
  <% for() {%>
  <div class="gt_cut_fullbg_slice" style=""></div>
  <% }%>
  </body>
</html>
